[Unit]
Description=ssserver
after=network.target

[Service]
ExecStart=/usr/local/bin/ssserver -c /etc/shadowsocks.json
Delegate=yes
Restart=always
RestartSec=1s500ms

[Install]
WantedBy=multi-user.target

